/* Theme for Violentmonkey: Charcoal */
/*
 * This is a *dark* (grayscale) theme for Violentmonkey created by Maniroth Ouk (NeoISE).
 * Homepage: "https://github.com/NeoISE/violentmonkey-themes"
 *
 * Uses the following colors:
 *
 * gray13 (#212121) = script disabled
 * gray27 (#454545) = script enabled
 * gray18 (#2E2E2E) = main background
 * gray24 (#3D3D3D) = sidebar / message-modal background
 *
 * gray95 (#F2F2F2) = color for normal text
 * gray90 (#E5E5E5) = color for active script text
 * gray83 (#D4D4D4) = color for light gray text
 *        (#AAAAAA) = color non-selected text in side-menu
 *        (#CDCDCD) = last updated time text for active script
 *
 * TODO:
 *   - Script editor
 */

:root {
	--color-dark-1: #212121;
	--color-dark-2: #2E2E2E;
	--color-dark-3: #3D3D3D;
	--color-dark-4: #454545;

	--color-light-1: #AAAAAA;
	--color-light-2: #CDCDCD;
	--color-light-3: #D4D4D4;
	--color-light-4: #E5E5E5;
	--color-light-5: #F2F2F2;

	--color-full-transparent: rgba(0,0,0,0);
}

*, .tab-settings, .tab-about, section > h3 {
	background: var(--color-dark-2);
	color: var(--color-light-5);
}

.script, .script * {
	background: var(--color-dark-4);
	color: var(--color-light-4);
}

.script:not(.disabled) > .script-info > .vl-tooltip > .secondary {
	color: var(--color-light-2);
}

.script.disabled, .script.disabled * {
	background: var(--color-dark-1);
	color: var(--color-light-3);
}

aside, aside * {
	background: var(--color-dark-3);
}

aside > .sidemenu :not(.active) {
	color: var(--color-light-1);
}

/*
 * The second selector is specifically here to select the "span" that stores
 * the string "Settings", which is different than the other menu entry.
 */
aside > .sidemenu > .active, aside > .sidemenu > .active * {
	color: var(--color-light-5);
}

.vl-modal {
	/* for the backdrop of the modal */
	background: var(--color-full-transparent);
}

.vl-modal div:last-of-type {
	/* for the background of the modal */
	background: var(--color-dark-3);
}

.tab-about > div > .text-green {
	color: lightgreen;
}


/*
 * Resize the icon so that the borders of the text-box are visible
 */
.tab-installed > header > .filter-search > .icon {
	height: 80%;
	top: 3px;
}
